* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle at 50% 50%, #1b1b1b, #111, #000);
  background-size: 300% 300%;
  animation: darkGlowBackground 12s ease-in-out infinite;
  color: #e0e0e0;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-shadow: 0 0 2px #ccc;
}

   /* HEADER */
  header {
    background-color: #000;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
  }


.logo {
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
	animation: glow 2s ease-in-out infinite alternate;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav a:hover {
  color: #f39c12;
}

.hero {
  position: relative;
  height: 100vh;
  background: url('img/galata.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  padding: 40px;
  border-radius: 20px;
}


#hero-title {
  font-size: 6rem;
  color: white;
  font-weight: bold;
  text-align: center;
  transition: all 0.4s ease-in-out;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 4px;
}


.btn {
  background-color: #f39c12;
  padding: 12px 24px;
  border: none;
  color: #111;
  font-weight: bold;
  text-decoration: none;
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 60px 10%;
  background-color: #181818;
}

.feature {
  max-width: 300px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
}

/* Animasyonlar */
.fade-in {
  animation: fadeIn 2s ease;
}

.slide-in {
  animation: slideIn 1.5s ease;
}

.zoom-in {
  animation: zoomIn 2s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes zoomIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes glow {
  from { text-shadow: 0 0 5px #f39c12; }
  to { text-shadow: 0 0 20px #f39c12; }
}
.animated {
  opacity: 1;
}
body {
  background-color: #111111;
  color: #e0e0e0;
  font-family: 'Poppins', sans-serif;
}

a, h1, h2, h3 {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
  color: #ffffff; /* Beyaz vurgulu hover */
}

.button, .btn {
  background-color: transparent;
  color: #e0e0e0;
  border: 1px solid #444;
  transition: all 0.3s ease;
}

.button:hover, .btn:hover {
  background-color: #ffffff;
  color: #111111;
}
.hero-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
